.root {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FEF5ED;
  height: 100vh;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    background-color: white;
    padding: 2.5rem 6rem;
    border-radius: 10px;

    span {
      font-size: 1.1rem;
      color: #99a799;
    }

    .logo {
      font-size: 2rem;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      margin-top: 0.6rem;

      label {
        display: flex;
        align-items: center;
        gap: 10px;

        cursor: pointer;
        transition: .3s;

        span {
          font-size: 15px;
        }
        margin: .8rem 0;
      }

      input {
        padding: 15px;
        border: 1.5px solid transparent;
        border-bottom: 1.5px solid #d3e4cd;

        width: 20rem;

        transition: 0.2s;

        &:focus {
          outline: none;
          border: 1.5px solid #d3e4cd;
          
        }
      }

      button {
        height: 2.5rem;
        color: white;
        border: none;
        background-color: #99a799;
        cursor: pointer;

        margin-bottom: .8rem;

        transition: 0.3s;

        &:hover,
        &:focus {
          background-color: #7b867b;
        }
      }
    }

    p {
      color: #99a799;
      margin-top: 1rem;
    }
  }
}
